node_modules
# Keep environment variables out of version control
.env
.env.*

# Dependency directories
node_modules/

# Python venv dependencies list
req.txt

# Python model environment files
pythonenv/
__pycache__/

/generated/prisma
