header {
  height: 10vh;
  width: 100%;
  background-image: url("/compass.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.85;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
  position: relative;
}

.header-content-container {
  position: absolute;
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  all: unset;
  margin-left: 5vw;
  font-size: var(--header-size);
  font-family: var(--title-font);
  cursor: pointer;
}

.header-title-compass {
  font-size: var(--subheader-size);
}

.header-ul {
  list-style-type: none;
  margin: 0 5vw 0 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-li {
  display: inline-block;
  margin-left: 40px;
}

.header-link {
  all: unset;
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  cursor: pointer;
}

.logout {
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  cursor: pointer;
}

.logout:hover {
  color: var(--background-darker);
}

.header-icon {
  font-size: var(--header-size);
  padding-top: 3px;
}

.header-link:hover {
  color: var(--background-darker);
}

main {
  height: 83vh;
  background-color: var(--background-light);
}

footer {
  background-color: var(--background-darker);
  height: 7vh;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.footer-text {
  font-size: var(--med-text-size);
  font-family: var(--header-font);
  font-weight: 600;
  margin: 0;
  text-align: right;
  padding: 0 30px 0 30px;
}

.footer-tagline {
  font-weight: normal;
  font-style: italic;
}

.glassmorphism {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 30px 8px rgba(209, 227, 248, 0.22);
}

.login-form,
.create-account-form {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.create-account-form {
  height: 88%;
  justify-content: flex-start;
}

.create-account {
  height: 100%;
}

.login-form-title,
.create-account-form-title {
  margin: 0 0 8vh 0;
  font-size: var(--subtitle-size);
  font-family: var(--header-font);
  color: var(--main-color);
  font-weight: normal;
}

.create-account-form-title {
  margin: 10vh 0 2vh 0;
}

.create-account-step-five-title {
  margin-bottom: 0vh;
}

.create-account-form-subtitle {
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  color: var(--main-color);
  font-weight: normal;
  margin-bottom: 5vh;
  max-width: 80vw;
  text-align: center;
}

.login-password-container,
.create-account-password-container {
  position: relative;
}

.login-password-eye-icon,
.create-account-password-eye-icon {
  position: absolute;
  right: 8px;
  padding-left: 5px;
  cursor: pointer;
  color: var(--dark-gray);
  font-size: var(--icon-med);
  background-color: var(--background-light);
}

.login-password-eye-icon.material-symbols-outlined:hover,
.create-account-password-eye-icon.material-symbols-outlined:hover {
  color: var(--sub-color);
  font-variation-settings: "FILL" 100;
}

.create-account-back-container {
  position: absolute;
  margin: 4vh 0 0 4vh;
  background-color: transparent;
  border: none;
}

.create-account-back-icon,
.email-remove {
  font-size: var(--subtitle-size);
  color: var(--main-color);
  cursor: pointer;
}

.create-account-back-icon:hover,
.email-remove:hover {
  color: var(--dark-gray);
}

.text-input-container {
  display: flex;
  flex-direction: column;
}

.text-input {
  font-size: var(--large-text-size);
  font-family: var(--header-font);
  border: none;
  width: 25vw;
  height: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  background-color: var(--background-light);
}

.text-input::placeholder {
  color: var(--dark-gray);
}

.text-input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.text-input-error {
  position: absolute;
  margin: 32px 0 0 5px;
  font-size: var(--small-text-size);
  color: var(--error-red);
  font-weight: 600;
}

.logout-error {
  font-size: var(--small-text-size);
  font-weight: 600;
  position: absolute;
  margin-left: -35px;
  color: var(--logout-error-red);
}

.submission-error {
  margin: 63px 0 0 0;
  width: 225px;
  text-align: center;
}

.create-account-submission-error {
  width: 325px;
  margin-left: -50px;
}

.form-btn {
  width: 225px;
  height: 45px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  background-color: var(--background-mixed);
  border: 1px solid var(--gray);
  cursor: pointer;
}

.form-btn:hover,
.create-btn:hover {
  border-width: 2px;
  background-color: var(--background-darker);
}

.create-account-btn {
  position: absolute;
  bottom: 20%;
}

.create-account-progress-bar-container {
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-progress-bar-content {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  width: 75vw;
}

.create-account-progress-bar-content-item {
  display: inline-block;
  text-align: center;
  width: 15vw;
  font-size: var(--small-text-size);
  font-family: var(--header-font);
  color: var(--main-color);
}

.create-account-progress-bar {
  width: 75vw;
  height: 30%;
  border: 2px solid var(--gray);
  border-radius: 20px;
}

.create-account-progress {
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-mixed);
}

.password-requirements-container {
  display: flex;
  justify-content: flex-start;
  width: 25vw;
}

.password-requirements-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.password-requirement-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.password-requirements-li {
  font-family: var(--header-font);
  font-size: var(--med-text-size);
  color: var(--main-color);
}

.create-account-pfp-button {
  all: unset;
  width: 18vw;
  height: 18vw;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.create-account-pfp-img {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: 2px solid var(--gray);
  object-fit: cover;
}

.create-account-text {
  position: absolute;
  left: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 4vw;
  bottom: 0;
  font-family: var(--header-font);
  font-size: var(--large-text-size);
  background-color: var(--background-mixed);
  border-radius: 100% 100% 100% 100%;
}

.create-account-pfp-file {
  display: none;
}

.create-account-pfp-error {
  margin: 10px 0 0 0;
  text-align: center;
  width: 18vw;
}

.error-page-container {
  background-color: var(--background-light);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.error-page-title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: normal;
  display: flex;
  gap: 10px;
  margin-top: 10vh;
}

.error-page-compass {
  font-size: 68px;
}

@keyframes swing {
  20% {
    transform: rotate(110deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(68deg);
  }
  90% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.error-page-swing {
  animation-name: swing;
  animation-duration: 5s;
  transform-origin: center left;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.error-page-message {
  position: absolute;
  bottom: 15vh;
  font-size: var(--header-size);
  font-family: var(--header-font);
  font-weight: normal;
}

.error-page-link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.error-page-link:hover {
  color: var(--background-dark);
}

.dropdown-container {
  margin-bottom: 10px;
}

.dropdown-input {
  margin-bottom: 15px;
  cursor: pointer;
}

.dropdown-without-items-list {
  cursor: pointer;
}

.dropdown-items-container {
  display: flex;
  gap: 10px;
  width: 25vw;
  height: 35px;
  overflow-x: scroll;
}

.dropdown-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  color: var(--main-color);
  font-family: var(--text-font);
  font-size: var(--small-text-size);
  border: 1px solid var(--light-gray);
  background-color: var(--background-mixed);
  border-radius: 20px;
  padding: 0 5px 0 10px;
}

.dropdown-item-x {
  cursor: pointer;
  font-size: 20px;
}

.dropdown-item-x:hover {
  color: var(--dark-gray);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  height: 100%;
}

.page-title {
  margin: 0;
  padding: 3vh 0 3vh 0;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: var(--subtitle-size);
}

.page-big-header {
  font-family: var(--subtitle-font);
  font-size: var(--header-size);
  font-weight: normal;
}

.create-btn {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 45px;
  margin-left: 5vw;
  border-radius: 20px;
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  background-color: var(--background-mixed);
  border: 1px solid var(--gray);
  cursor: pointer;
}

.email-sent-filter-container {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin: 30px 0 0 5vw;
  gap: 100px;
}

.email-topic-dropdown {
  margin-bottom: 0px;
  cursor: pointer;
}

.create-email-form {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  gap: 30px;
}

.create-email-section-spacing {
  margin-bottom: 50px;
}

.create-email-section-spacing-top {
  margin-top: 50px;
}

.add-email-address-btn {
  width: 250px;
  font-size: var(--large-text-size);
  margin: 0;
}

.create-email-body {
  background-color: transparent;
  width: 40vw;
  max-width: 40vw;
  min-width: 40vw;
  min-height: 25px;
}

.create-email-btn {
  width: 100vw;
  margin: 0 0 5vh -5vw;
  align-items: center;
}

.create-email-back-container {
  align-self: flex-start;
}

.disable-add-email {
  background-color: var(--background-light);
  cursor: default;
}

.disable-add-email:hover {
  background-color: var(--background-light);
  border: 1px solid var(--gray);
}

.email-container {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 35px;
  padding: 10px 0 10px 0;
}

.email-list-btn {
  height: 35px;
  width: 80px;
  font-size: var(--large-text-size);
}

.email-list-btn-selected {
  background-color: var(--background-darker-2);
}

.email-remove {
  font-size: var(--header-size);
}

.dropdown-input-error {
  position: relative;
  margin-top: -26px;
}

.email-input {
  background-color: transparent;
}

.create-email-submission-error {
  font-size: var(--small-text-size);
  color: var(--error-red);
  font-weight: 600;
  margin-top: 5px;
}

.fetch-emails-error {
  position: relative;
  align-self: flex-start;
  margin-left: 5vw;
}

.sent-emails-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.sent-email-container {
  width: 28vw;
  height: 35vh;
  border: 2px solid var(--light-gray);
  background-color: var(--background-mixed);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.no-emails-message {
  align-self: flex-start;
  margin-left: 5vw;
  font-size: var(--subheader-size);
  font-weight: normal;
  font-family: var(--header-font);
}

.email-title {
  margin: 5px 0 20px 0;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: var(--subheader-size);
  overflow: scroll;
  white-space: nowrap;
}

.email-header {
  margin: 10px 0 10px 0;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: var(--large-text-size);
  overflow: scroll;
  white-space: nowrap;
}

.email-body {
  font-size: var(--small-text-size);
  height: 20%;
  white-space: wrap;
}

.create-btn-height {
  height: 45px;
  align-self: flex-start;
}

.explore-error {
  margin: 0 0 0 5vw;
  padding-top: 5vh;
  font-size: var(--subheader-size);
  font-weight: normal;
  font-family: var(--header-font);
  color: var(--main-color);
}

.explore-recommend-header,
.explore-filter-header {
  margin: 8vh 0 0 7vh;
  font-weight: normal;
  font-family: var(--subtitle-font);
  font-size: var(--subtitle-size);
}

.explore-filter-header {
  font-size: var(--header-size);
}

.explore-filters-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  padding-top: 3vh;
}

.search-bar {
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.explore-filters-width {
  width: 18vw;
}

.explore-search-input {
  width: 12vw;
  margin: 0;
}

.explore-course-list-container {
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
}

.explore-course-list {
  margin: 0;
  padding: 4vh 2vw 5vh 0;
  display: flex;
  gap: 40px;
  overflow-x: scroll;
}

.explore-course-outer-container {
  background-color: transparent;
  width: 15vw;
  min-width: 15vw;
  height: 50vh;
  perspective: 1000px;
  padding: 15px;
}

.explore-course-container {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  background-color: var(--background-mixed);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 9px 9px 10px var(--gray);
  padding: 15px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.explore-course-container-animation {
  transform: rotateY(180deg);
  animation-name: bounce;
  animation-duration: 0.5s;
  transform-origin: center center;
  animation-timing-function: cubic-bezier();
  animation-fill-mode: forwards;
}

@keyframes bounce {
  50% {
    scale: 1.25;
  }
  100% {
    scale: 1.05;
  }
}

.explore-course-front,
.explore-course-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  padding-right: 15px;
  overflow: scroll;
  height: 50vh;
  width: 15vw;
  padding: 0 15px 15px 0;
}

.explore-course-front {
  z-index: 2;
}

.explore-course-back {
  background-color: var(--background-darker);
  top: 0;
  left: 0;
  padding: 15px;
  transform: rotateY(180deg);
}

.explore-arrow {
  color: var(--dark-gray);
  font-size: var(--title-size);
  background-color: var(--background-light);
  cursor: pointer;
  position: relative;
}

.explore-right-arrow {
  margin: auto 0 auto auto;
  text-align: end;
}

.explore-arrow:hover {
  color: var(--main-color);
}

.explore-course-icon-container {
  display: flex;
  gap: 20px;
  padding-bottom: 15px;
}

.explore-course-icon {
  font-size: var(--header-size);
  cursor: pointer;
}

.explore-course-icon.cart-icon:hover {
  color: var(--background-dark);
}

.explore-course-icon.favorite-icon.material-symbols-outlined:hover {
  color: var(--favorite-yellow);
  font-variation-settings: "FILL" 100;
}

.explore-course-icon.favorited.material-symbols-outlined {
  color: var(--favorite-yellow);
  font-variation-settings: "FILL" 100;
}

.explore-course-title {
  font-family: var(--header-font);
  font-weight: normal;
  font-size: var(--subheader-size);
  margin: 0;
  padding: 5px 0 25px 0;
}

.explore-course-heading,
.explore-course-view-description {
  font-family: var(--header-font);
  font-weight: normal;
  font-size: var(--med-text-size);
  margin: 0;
  padding-bottom: 15px;
}

.explore-course-heading-item {
  font-family: var(--text-font);
  font-weight: normal;
}

.explore-course-area-ul {
  padding-left: 25px;
  margin: 0 0 15px 0;
  font-family: var(--text-font);
  font-size: var(--small-med-text-size);
}

.explore-course-area-li {
  padding-top: 5px;
}

.explore-container {
  overflow: scroll;
  height: 100%;
}

.explore-course-description-front-container {
  height: 60px;
}

.explore-course-description-front {
  font-family: var(--text-font);
  font-size: var(--small-text-size);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.explore-course-description {
  font-family: var(--text-font);
  font-size: var(--small-med-text-size);
  padding-right: 5px;
}

.explore-course-view-description {
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding: 30px;
}

.explore-classes-container {
  display: flex;
  gap: 5px;
}

.explore-classes {
  display: flex;
  width: 85px;
  height: 30px;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  font-size: var(--small-med-text-size);
}

.explore-cart-error {
  position: relative;
  margin: 0px 0 10px 5px;
}

.info-hover {
  margin-left: 20px;
  cursor: pointer;
  font-size: 24px;
}

.info-hover:hover {
  color: var(--dark-gray);
}

.info-hover-text {
  position: absolute;
  display: none;
  top: -20px;
  right: -150px;
  width: 300px;
  font-family: var(--header-font);
  font-size: var(--med-text-size);
  padding: 10px;
  background-color: var(--background-mixed);
  box-shadow: 5px 5px 15px var(--dark-gray);
  border-radius: 15px;
  border: 1px solid var(--light-gray);
}

.info-hover:hover .info-hover-text {
  display: block;
}

.create-timetable-btn-container {
  display: flex;
  gap: 25px;
}

.create-timetable-btn {
  height: 45px;
  width: 150px;
}

.timetable-recommendation-header {
  position: relative;
  width: 45vw;
}

.timetable-courses-header {
  position: relative;
  text-align: center;
}

.timetable-container {
  position: relative;
  transition: scale 0.3s;
  box-shadow: 10px 10px 10px var(--gray);
  cursor: pointer;
}

.timetable-container:hover {
  scale: 1.1;
}

.timetable-tags-date-container {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timetable-tags-container {
  display: flex;
}

.timetable-tag {
  font-size: var(--small-text-size);
  height: 30px;
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
  display: flex;
  border: 1px solid var(--light-gray);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  background-color: var(--background-darker-2);
}

.timetable-date {
  font-size: var(--small-med-text-size);
  font-family: var(--header-font);
  margin-right: 10px;
}

.timetable-title {
  width: 70vw;
  text-align: center;
  padding: 3vh 0 10px 0;
}

.timetable-edit-disabled:disabled {
  color: var(--dark-gray);
  cursor: not-allowed;
}

.timetable-edit-container {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 120%;
}

.timetable-edit-icon {
  font-size: var(--header-size);
  cursor: pointer;
}

.timetable-edit-icon:hover {
  color: var(--dark-gray);
}

.timetable-yes {
  color: var(--correct-green);
}

.timetable-yes:hover {
  color: var(--correct-green);
  opacity: 0.6;
}

.timetable-no {
  color: var(--error-red);
}

.timetable-no:hover {
  color: var(--error-red);
  opacity: 0.6;
}

.timetable-input-error {
  margin-top: 5px;
}

.timetable-description {
  align-self: flex-start;
  margin: 30px 0 0 5vw;
}

.timetable-icon-container {
  display: inline-flex;
  margin-left: 20px;
  gap: 30px;
}

.timetable-designation {
  align-self: flex-start;
  margin: 30px 0 5vw 5vw;
  font-family: var(--header-font);
  font-size: var(--large-text-size);
}

.cart-timetable-courses-container {
  width: 100%;
  display: flex;
  margin-bottom: 70px;
}

.cart-container {
  width: 20%;
  padding: 10px;
  border-right: 1px solid var(--dark-gray);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timetable-courses-container {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--dark-gray);
}

.timetable-info-text {
  left: 60%;
  width: 15%;
}

.generate-timetable {
  position: absolute;
  top: -4px;
  right: 10px;
}

.generate-background {
  background: linear-gradient(135deg, #c3dafe, #e0c3fc);
}

.generate-background:hover {
  opacity: 0.9;
}

.timetable-search {
  align-self: center;
  padding-bottom: 20px;
}

.timetable-back {
  position: sticky;
  height: 0;
}

.cart-courses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
}

.timetable-cart-error {
  font-family: var(--header-font);
  font-size: var(--med-text-size);
  font-weight: normal;
  color: var(--error-red);
  align-self: center;
  text-align: center;
  width: 80%;
}

.term-container {
  width: 100%;
}

.timetable-course-container {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.term-title {
  border-bottom: 1px solid black;
  font-family: var(--header-font);
  font-size: var(--subheader-size);
  font-weight: normal;
  padding: 0 0 5px 7px;
}

.course-placeholder {
  width: 14vw;
  min-width: 14vw;
  height: 45vh;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  background-color: var(--background-mixed);
  box-shadow: 9px 9px 10px var(--gray);
  cursor: pointer;
  opacity: 0.6;
}

.timetable-course-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.timetable-course-title {
  padding: 15px;
  text-align: center;
}

.timetable-change-error {
  position: absolute;
  left: 40%;
  bottom: -20px;
  font-family: var(--header-font);
  font-size: var(--small-text-size);
  color: var(--error-red);
  font-weight: 600;
}

.timetable-course-delete {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: var(--header-size);
  cursor: pointer;
}

.timetable-course-delete:hover {
  color: var(--error-red);
}

.timetable-requirements-container {
  width: 100%;
  position: absolute;
  height: 60%;
  bottom: -45%;
  background-color: var(--background-darker-2);
  border-radius: 50px 50px 0 0;
  transition: bottom 0.8s;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.timetable-requirements-container:hover {
  bottom: 7vh;
}

.requirements-menu {
  align-self: center;
  margin-top: 10px;
  font-size: var(--header-size);
  color: var(--main-color);
}

.requirements-title {
  align-self: center;
  margin: 30px 0 50px 0;
  font-size: var(--header-size);
  font-family: var(--header-font);
  font-weight: normal;
}

.all-requirements-container {
  margin-bottom: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.degree-requirements-container {
  display: flex;
  gap: 2%;
  width: 100%;
  justify-content: center;
}

.degree-requirement {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.requirement-title {
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.requirement-ul {
  padding-left: 25px;
  margin: 0 0 15px 0;
  font-family: var(--text-font);
  font-size: var(--med-text-size);
}

.requirement-li {
  padding-top: 10px;
}

.divider {
  width: 80%;
  margin: 50px 0 65px 0;
  align-self: center;
  border-bottom: 2px solid black;
}

.kernel-depth-error {
  position: relative;
  margin-top: -35px;
}

.loader {
  border: 10px solid var(--light-gray);
  border-top: 10px solid var(--background-darker-2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  gap: 20px;
  margin: 20px 0 10px 5vw;
  align-items: center;
}

.loader-text {
  font-family: var(--header-font);
  font-size: var(--subheader-size);
  font-weight: normal;
}

.recommendation-error {
  margin-left: 5vw;
  font-size: var(--small-text-size);
  color: var(--error-red);
  font-weight: 600;
}

.reject-icon {
  margin-right: 20px;
}

.reject-icon:hover {
  color: var(--error-red)
}

.recommendation-score {
  background-color: var(--background-darker-2);
  padding: 25px;
  width: 35px;
  height: 35px;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: var(--header-font);
  top: -15px;
  right: -15px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  font-weight: 500;
}