header {
  height: 10vh;
  width: 100%;
  background-image: url("/compass.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.85;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
  position: relative;
}

.header-content-container {
  position: absolute;
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  all: unset;
  margin-left: 5vw;
  font-size: var(--header-size);
  font-family: var(--title-font);
  cursor: pointer;
}

.header-title-compass {
  font-size: var(--subheader-size);
}

.header-ul {
  list-style-type: none;
  margin: 0 5vw 0 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-li {
  display: inline-block;
  margin-left: 40px;
}

.header-link {
  all: unset;
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  cursor: pointer;
}

.logout {
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  cursor: pointer;
}

.logout:hover {
  color: var(--background-darker);
}

.header-icon {
  font-size: var(--header-size);
  padding-top: 3px;
}

.header-link:hover {
  color: var(--background-darker);
}

main {
  height: 83vh;
  background-color: var(--background-light);
}

footer {
  background-color: var(--background-darker);
  height: 7vh;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: var(--med-text-size);
  font-family: var(--header-font);
  font-weight: 600;
  margin: 0;
  text-align: right;
  padding: 0 30px 0 30px;
}

.footer-tagline {
  font-weight: normal;
  font-style: italic;
}

.glassmorphism {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 30px 8px rgba(209, 227, 248, 0.22);
}

.login-form,
.create-account-form {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.create-account-form {
  height: 88%;
  justify-content: flex-start;
}

.create-account {
  height: 100%;
}

.login-form-title,
.create-account-form-title {
  margin: 0 0 8vh 0;
  font-size: var(--subtitle-size);
  font-family: var(--header-font);
  color: var(--main-color);
  font-weight: normal;
}

.create-account-form-title {
  margin: 10vh 0 2vh 0;
}

.create-account-step-five-title {
  margin-bottom: 0vh;
}

.create-account-form-subtitle {
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  color: var(--main-color);
  font-weight: normal;
  margin-bottom: 5vh;
  max-width: 80vw;
  text-align: center;
}

.login-password-container,
.create-account-password-container {
  position: relative;
}

.login-password-eye-icon,
.create-account-password-eye-icon {
  position: absolute;
  right: 8px;
  padding-left: 5px;
  cursor: pointer;
  color: var(--dark-gray);
  font-size: var(--icon-med);
  background-color: var(--background-light);
}

.login-password-eye-icon.material-symbols-outlined:hover,
.create-account-password-eye-icon.material-symbols-outlined:hover {
  color: var(--sub-color);
  font-variation-settings: "FILL" 100;
}

.create-account-back-container {
  position: absolute;
  margin: 4vh 0 0 4vh;
  background-color: transparent;
  border: none;
}

.create-account-back-icon {
  font-size: var(--subtitle-size);
  color: var(--main-color);
  cursor: pointer;
}

.create-account-back-icon:hover {
  color: var(--dark-gray);
}

.text-input-container {
  display: flex;
  flex-direction: column;
}

.text-input {
  font-size: var(--large-text-size);
  font-family: var(--header-font);
  border: none;
  width: 25vw;
  height: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  background-color: var(--background-light);
}

.text-input::placeholder {
  color: var(--dark-gray);
}

.text-input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.text-input-error {
  position: absolute;
  margin: 32px 0 0 5px;
  font-size: var(--small-text-size);
  color: var(--error-red);
  font-weight: 600;
}

.logout-error {
  font-size: var(--small-text-size);
  font-weight: 600;
  position: absolute;
  margin-left: -35px;
  color: var(--logout-error-red);
}

.submission-error {
  margin: 63px 0 0 0;
  width: 225px;
  text-align: center;
}

.create-account-submission-error {
  width: 325px;
  margin-left: -50px;
}

.form-btn {
  width: 225px;
  height: 45px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: var(--subheader-size);
  font-family: var(--header-font);
  background-color: var(--background-mixed);
  border: 1px solid var(--gray);
  cursor: pointer;
}

.form-btn:hover {
  border-width: 2px;
  background-color: var(--background-darker);
}

.create-account-btn {
  position: absolute;
  bottom: 20%;
}

.create-account-progress-bar-container {
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-account-progress-bar-content {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  width: 75vw;
}

.create-account-progress-bar-content-item {
  display: inline-block;
  text-align: center;
  width: 15vw;
  font-size: var(--small-text-size);
  font-family: var(--header-font);
  color: var(--main-color);
}

.create-account-progress-bar {
  width: 75vw;
  height: 30%;
  border: 2px solid var(--gray);
  border-radius: 20px;
}

.create-account-progress {
  height: 100%;
  border-radius: 20px;
  background-color: var(--background-mixed);
}

.password-requirements-container {
  display: flex;
  justify-content: flex-start;
  width: 25vw;
}

.password-requirements-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.password-requirement-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.password-requirements-li {
  font-family: var(--header-font);
  font-size: var(--med-text-size);
  color: var(--main-color);
}

.create-account-pfp-button {
  all: unset;
  width: 18vw;
  height: 18vw;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.create-account-pfp-img {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: 2px solid var(--gray);
  object-fit: cover;
}

.create-account-text {
  position: absolute;
  left: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 4vw;
  bottom: 0;
  font-family: var(--header-font);
  font-size: var(--large-text-size);
  background-color: var(--background-mixed);
  border-radius: 100% 100% 100% 100%;
}

.create-account-pfp-file {
  display: none;
}

.create-account-pfp-error {
  margin: 10px 0 0 0;
  text-align: center;
  width: 18vw;
}

.error-page-container {
  background-color: var(--background-light);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.error-page-title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  font-weight: normal;
  display: flex;
  gap: 10px;
  margin-top: 10vh;
}

.error-page-compass {
  font-size: 68px;
}

@keyframes swing {
  20% {
    transform: rotate(110deg);
  }
  40% {
    transform: rotate(40deg);
  }
  60% {
    transform: rotate(90deg);
  }
  80% {
    transform: rotate(68deg);
  }
  90% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.error-page-swing {
  animation-name: swing;
  animation-duration: 5s;
  transform-origin: center left;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.error-page-message {
  position: absolute;
  bottom: 15vh;
  font-size: var(--header-size);
  font-family: var(--header-font);
  font-weight: normal;
}

.error-page-link {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
}

.error-page-link:hover {
  color: var(--background-dark);
}

.dropdown-container {
  margin-bottom: 10px;
}

.dropdown-input {
  margin-bottom: 15px;
  cursor: pointer;
}

.dropdown-without-items-list {
  cursor: pointer;
}

.dropdown-items-container {
  display: flex;
  gap: 10px;
  width: 25vw;
  height: 35px;
  overflow-x: scroll;
}

.dropdown-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  color: var(--main-color);
  font-family: var(--text-font);
  font-size: var(--small-text-size);
  border: 1px solid var(--light-gray);
  background-color: var(--background-mixed);
  border-radius: 20px;
  padding: 0 5px 0 10px;
}

.dropdown-item-x {
  cursor: pointer;
  font-size: 20px;
}

.dropdown-item-x:hover {
  color: var(--dark-gray);
}
