:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --title-font: "Poppins", sans-serif;
  --subtitle-font: "Playfair Display", serif;
  --header-font: "Instrument Sans", sans-serif;
  --text-font: "Amiko", sans-serif;

  --title-size: 100px;
  --subtitle-size: 32px;
  --header-size: 28px;
  --subheader-size: 20px;
  --large-text-size: 18px;
  --med-text-size: 16px;
  --small-text-size: 12px;

  --icon-med: 24px;

  --background-light: #F0F7FF;
  --background-mixed: #d3e7fc;
  --background-darker: #c6e2ff;
  --background-neutral-light: #e8e8e8;

  --main-color: #101010;
  --sub-color: #252525;
  --dark-gray: #6d6d6d;
  --gray: #a9a8a8;
  --light-gray: #d9d9d9;
  --error-red: rgb(178, 47, 47);
}

body {
  margin: 0;
}